h2 {
    color: rgb(61, 10, 61);
    text-align: center;
    font-size: 100px;
}

p {
    color: rgb(71, 26, 92);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(176, 173, 190);
}

select {
    background-color: rgb(224, 155, 241);
}